<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
		<script type='text/javascript' src="/game/script.js"></script>

		<script type='text/javascript'>
			$(function() {
				$('.button').hover(function() {
					$(this).addClass('button_hover');
				}, function() {
					$(this).removeClass('button_hover');
				});
                $('#game_button').click(start_game);
                $('#roll_button').click(lock_and_roll);
			});
		</script>

		<link rel="stylesheet" type="text/css" href="/site_media/css/style.css" />
		<title>Dice</title>
	</head>
	<body>
		<div id='body'>
			<div id='game_button' class='button'>new game</div>
			<div id='roll_button' class='button'>roll</div>
			<div class='game_section'>
				<div class='game_section_label'>Locked Dice</div>
				<div id='dice_locked' class='game_section_contents'></div>
			</div>
			<div class='game_section'>
				<div class='game_section_label'>Unlocked Dice</div>
				<div id='dice_unlocked' class='game_section_contents'></div>
            </div>
            <div class='game_section'>
                <div class='game_section_label'>Actions</div>
                <div id='actions' class='game_section_contents'>
                    {% for goal in goals %}
                        <div id='action_{{ goal.action.name }}' class='action'>
                            <div class='goal_name'>{{goal.name}}</div>
                            <div class='action_name'>{{goal.action.name}}</div>
                            <div class='clear'></div>
                        </div>
                        <script>$('#action_{{ goal.action.name }}').click(perform_action)</script>
                    {% endfor %}
                </div>
            </div>
            <div class='game_section'>
                <div class='game_section_label'>Goals</div>
                <div id='goals' class='game_section_contents'>
                    {% for goal in goals %}
                        <div id='goal_{{ goal.name }}' class='goal'>
                            <div class='goal_name'>{{goal.name}}</div>
                            <div class='action_name'>{{goal.action.name}}</div>
                            <div class='clear'></div>
                        </div>
                        <script>$('#goal_{{ goal.name }}').click(purchase_goal)</script>
                    {% endfor %}
                </div>
            </div>
			<div id='key'></div>
		</div>
	</body>
</html>
