/* General page layout */

body {
    background-color: #ddf;
}

#body {
	margin: 0 auto;
	width: 960px;
}

.game_section {
	margin-bottom: 10px;
	text-align: center;
    background-color: white;
}

.game_section .game_section_label {
    height: 30px;
    line-height: 30px;
}

.game_section .game_section_contents {
}

.clear { clear: both; }

/* Dice */

.game_section_contents .dice_box {
    height: 60px;
}

.die {
	width: 52px;
	height: 52px;

    display: inline-block;

	cursor: pointer;

	margin-right: 2px;

    background-image: url('/site_media/img/die0.png');
    background-repeat: no-repeat;
    background-position: 1 1;

    border: 1px solid transparent;
}

.die_1 { background-image: url('/site_media/img/die1.png'); }
.die_2 { background-image: url('/site_media/img/die2.png'); }
.die_3 { background-image: url('/site_media/img/die3.png'); }
.die_4 { background-image: url('/site_media/img/die4.png'); }
.die_5 { background-image: url('/site_media/img/die5.png'); }
.die_6 { background-image: url('/site_media/img/die6.png'); }

.die_locked {
    border-color: #400;
    background-color: #fdd;
}

/* Buttons */

.button {
	margin: 0 auto;
	width: 200px;
	height: 40px;
	border: 1px solid black;
	text-align: center;
	line-height: 40px;
	border-radius: 2px;
	cursor: pointer;
	margin-bottom: 4px;
}

.button_hover {
	background-color: #f3f3f3;
}

/* Lists */

.game_section_contents .goal_box {
    width: 220px;
    margin: 10px 10px;
    float: left;
}

.goal_box .goal {
    border: 1px solid black;
}

.goal .goal_detail {
    height: 50px;
}

.goal_box .goal_purchasable { background-color: #ddffdd; }
.goal_box .goal_purchased { background-color: #888; }

.goal_box .action {
    border: 1px solid black;
    background-color: #888;
    margin: 8px;
    height: 50px;
}

.goal_box .action_purchased { background-color: white; }
.goal_box .action_used { background-color: #ffdddd; }


